
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 158 31% 25%;

    --card: 0 0% 100%;
    --card-foreground: 158 31% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 158 31% 25%;

    --primary: 158 31% 36%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.5%;
    --secondary-foreground: 158 31% 25%;

    --muted: 0 0% 96.5%;
    --muted-foreground: 158 20% 45%;

    --accent: 42 100% 63%;
    --accent-foreground: 158 31% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 158 31% 36%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 158 31% 25%;
    --sidebar-primary: 158 31% 36%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 158 31% 25%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 158 31% 36%;
  }

  .dark {
    --background: 158 31% 10%;
    --foreground: 0 0% 98%;

    --card: 158 31% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 158 31% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 158 31% 36%;
    --primary-foreground: 0 0% 98%;

    --secondary: 158 20% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 158 20% 15%;
    --muted-foreground: 0 0% 65%;

    --accent: 42 100% 63%;
    --accent-foreground: 158 31% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 158 20% 15%;
    --input: 158 20% 15%;
    --ring: 158 31% 36%;
    --sidebar-background: 158 31% 8%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 158 31% 36%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 158 20% 12%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 158 20% 12%;
    --sidebar-ring: 158 31% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
